body {
  margin: 0;
  padding: 0;
}

svg {
  fill: $svg-fill-color;
}

body,
input,
button {
  @include primary-font-properties;
}

a {
  @include a;
}

button {
  @include button;
}

button:hover {
  background-color: $hover-background-color;
  @include hover-effect;
}

input {
  @include input;
}

.container {
  margin-top: $primary-indent;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.create-container {
  row-gap: 1.25rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  .create__header {
    letter-spacing: 0.112rem;
  }

  .create__danger-border {
    border: 1px solid $danger-color;
  }

  .create__error-handler {
    color: $danger-color;
    text-align: justify;
  }
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $primary-indent * 2;
  justify-content: space-around;
  height: 80vh;

  .counter__header,
  .counter__body p {
    @include text-xl();
  }

  .counter__body {
    display: flex;
    width: 100%;
    column-gap: $primary-indent;
    justify-content: center;
    align-items: center;

    button {
      width: $primary-indent * 1.5;
      height: $primary-indent * 1.5;
    }
  }

  .counter__button--remove {
    letter-spacing: 0.33rem;
    padding: $primary-offset * 2;
  }
}

.counter-card__container {
  display: flex;
  height: 3.2rem;
  margin-top: 1.25rem;
  justify-content: center;
  .counter-card__header {
    text-align: center;
  }

  .counter-card__body {
    display: none;
  }
}

.counter-card__container:hover {
  .counter-card__header {
    display: none;
  }

  .counter-card__body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}

.navigate__home {
  position: fixed;
  bottom: $primary-indent;
  left: $primary-indent;
}

.popup {
  position: fixed;
  bottom: -7.5rem;
  left: $primary-indent;
  padding: 1.5rem;
  border-radius: 10px;
  color: white;
  background-color: #303030f2;
}

.popup-play {
  animation: remove 1.5s ease-out 2 alternate;
  animation-delay: 1s;
}

@media (min-width: 64rem) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .create-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: $primary-indent;
    p {
      grid-column-end: span 2;
    }
    input,
    button {
      width: 20rem;
    }
  }

  .counters-grid {
    display: grid;
    grid-template-columns: repeat(3, 18.75rem);
    column-gap: $primary-indent;
  }
}

@keyframes remove {
  0% {
    bottom: -7.5rem;
  }

  100% {
    bottom: 2.5rem;
  }
}
